
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<div class="container">                
<div class="contentbar">  
        <!-- Start row -->
        <div class="row">
          <h1 class="card-title">Welcome To Surabi Online Restaurant Services!</h1>              
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Menu</h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <div class="table-responsive">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Photo</th>
                                                        <th scope="col">Item</th>
                                                        <th scope="col" class="text-right">Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of menus">
                                                        <th scope="row">{{item.id}}</th>
                                                        <td><img src="https://themesbox.in/admin-templates/olian/html/light-vertical/assets/images/ecommerce/product_02.svg" class="img-fluid" width="35" alt="product"></td>
                                                        <td>{{item.item}}</td>                             
                                                        <td class="text-right">${{item.price}}</td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="cart-body">
                                        <div class="row">
                                           
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-12">
                                                <div class="order-total table-responsive ">
                                                    <table class="table table-borderless text-right">
                                                        <tbody>
                                                            <tr>
                                                                <td class="f-w-7 font-18"><input type="text" class="form-control" placeholder="Comma-separated values 1,2,3 etc" [(ngModel)]="inputIds"></td>
                                                                <td class="f-w-7 font-18" class="btn btn-success my-1" (click)="generateBillFromInputIds(inputIds)"><h6>Generate Bill</h6></td>
                                                                <td class="f-w-7 font-18"><h4>${{totalBillToDisplay}}</h4></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-footer text-right">
                                        <a href="page-checkout.html" class="btn btn-success my-1">Proceed to Payment<i class="ri-arrow-right-line ml-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
    </div>



